:root {

}

a {

}
a:hover {

}

body {
    font-family: "Cascadia Mono";

    background-color: #e08e5b;
    font-size: 32px;
}

h1 {

}

button {

    color: black;

    padding: 0.6rem 1.2rem;
    font-weight: bold;

    font-size: 2rem;
    background: none;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.12rem;

    transition: 0.1s;

    &:hover{
        cursor: pointer;
        border-color: #606060;

        color: #606060;
    }
}